@font-face {
    font-family: 'Quicksand';
    src: url(../font/Quicksand-VariableFont_wght.ttf);
}


html{
    scroll-behavior: smooth;
}

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

a:hover{
    color: #ffc545 !important;
}

h5{
    font-size: 1.25rem;
}

li{
    list-style: none;
}

nav{
    background-color: black;
    position: sticky;
    top: 0;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
}

nav .logo a,
footer .logo a{
    margin-left: 8px;
    font-weight: bold;
    font-size: 1.25rem;
}

nav ul,
footer .top ul{
    display: flex;
    gap: 40px;
}

nav button{
    color: #ffc545;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #ffc545;
    cursor: pointer;
    transition: all 0.3s ease;
}

body{
    color: #fff;
    background-color: #000;
}

nav .logo img{
    width:50px;
    height: 40px;
}

nav button:hover{
    background-color: #ffc545;
    border-color: #ffc545;
    color: black;
}

nav button#menuButton{
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 7px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding-top: 300px;
    padding-bottom: 350px;
    background-color: #3d3d3d;
}

.main span{
    color: #ffc545;
}
h5{
    font-weight: 400;
    font-size: 3.125rem;
}

h3{
    font-weight: 400;
    font-size: 1.875rem;
}

h1{
    font-size: 3.4375rem;
}

.über{
    background-color: black;
    height: 1077px;
}

.über h1{
    padding-top: 200px;
    padding-left: 100px;
}

.über img{
    width: 287px;
    height: 437px;
}

.über p{
    padding: 200px 200px 100px 200px;
    font-size: 1rem;
}

.über1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.über button{
    color: #ffc545;
    background-color: transparent;
    padding: 10px 100px;
    border-radius: 5px;
    border: 1px solid #ffc545;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.25rem;
}

.über button:hover{
    background-color: #ffc545;
    border-color: #ffc545;
    color: black;
}

.button{
    display: flex;
    justify-content: center;

}

.socials img{
    margin-right: 20px;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 85px;
}

.wave .shape-fill {
    fill: #000;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 211px;
    background-color: #878787;
}

footer img{
    width: 55px;
    height: 55px;
}

@media screen and (max-width: 1200px){
    .über p  {
        font-size: 1rem;
        padding: 70px;
    }

    footer {
        gap: 20px;
    }

    .button{
        padding-left: 70px;
    }

}

@media screen and (max-width: 992px){
    nav button{
        display: none;
    }

    nav ul{
        gap: 20px;
    }

    nav ul li a{
        font-size: 1rem;
    }

    .main{
        flex-direction: column;
    }

    .über1{
        flex-direction: column;
        justify-content: center;
    }

    .button{
        padding: 100px 200px 100px 230px;
    }

    footer {
        display: none;
    }
}

@media (max-width: 768px) {
    nav{
        justify-content: space-between;
        padding: 0 42px;
    }

    nav ul{
        display: none;
        margin-left: 160px;
    }

    nav.open .logo{
        display: none;
    }

    nav.open ul{
        display: flex;
    }

    nav button#menuButton{
        display: flex;
    }

    .footer{
        padding: 85px 42px;
    }
}

@media (max-width: 576px) {
    .button {
        padding: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }

    nav ul{
        margin-left: 100px;
    }
}